@font-face {
  font-family: 'DMSans-Regular';
  src: url('../fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans-Medium';
  src: url('../fonts/DMSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans-Bold';
  src: url('../fonts/DMSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'TitanOne-Regular';
  src: url('../fonts/TitanOne-Regular.ttf') format('truetype');
}
