// Colors
$white-color: #ffffff;
$black-color: #000000;

// Base text color
$primary-text-color: #907e82;

//The color of the titles and most of the buttons,
//the icons of social networks when hovering, the text of the light buttons
$primary-accent-color: #d41443;

// Alternative button color
$secondary-accent-color: #d41342;

// Color of secondary headers
$subtitle-color: #ffa5ba;

// Background of sections
$section-bg-primary: #e5e5e5;
$section-bg-secondary: #fff5f6;

// Background of heroes
$pink-bg-primary: #ffb8ca;

// Background mobile menu
$pink-bg-secondary: #e17992;

// Button color when hover
$btn-hover: #c7133e;

// Secondary button color
$secondary-button-color: #ecebeb;

//Social Media Icons
$social-primary-color: #fea5bb;

// Product cards
$product-card-primary: #f0d1a5;
$product-card-secondary: #c2e297;

$navigation-dots-color: #d9d9d9;

// Quotes in the slider
$slider-quotes: #e1e1e1;

// Shadow of cards
$primary-box-shadow: rgba(212, 20, 67, 0.1);

// Variables for fonts
$font-family: DM Sans, sans-serif;
$font-family-second: Titan One, sans-serif;
$font-size: 14px;

// Transitions and animations
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
