/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #907e82;
  font-family: DM Sans, sans-serif;
  font-size: 14px;
}
body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 34px;
    padding-left: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  outline: none;
  border-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("../fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("../fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("../fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titan One";
  src: local("Titan One"), url("../fonts/TitanOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 184, 202, 0.88);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 15px 15px;
  }
}
@media screen and (max-width: 1279px) {
  .backdrop {
    overflow-y: scroll;
  }
}

.modal {
  position: relative;
  border-radius: 15px;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
@media screen and (max-width: 767px) {
  .backdrop.is-hidden .modal {
    transform: scale(0.5);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    left: 50%;
    width: 70vw;
    height: auto;
    transform: translate(-50%, 10%) scale(1);
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    top: 50%;
    left: 50%;
    width: 40vw;
    height: auto;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: #ffffff;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  outline: transparent;
  border: 1px solid #d41443;
}

.modal__close-icon {
  width: 18px;
  height: 18px;
}

.buy-form {
  width: 100%;
  padding: 40px;
}

.buy__title {
  font-size: 17px;
  display: block;
  margin-bottom: 12px;
  text-align: center;
}

.buy__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.buy__group:focus-within {
  color: #d41443;
}

.buy__label {
  margin-bottom: 4px;
}

.buy__area {
  position: relative;
}

.buy__input {
  width: 100%;
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: grey;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.buy__input:focus {
  outline: transparent;
  border: 1px solid #d41443;
}
.buy__input::-moz-placeholder {
  font-size: 13px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.buy__input::placeholder {
  font-size: 13px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.buy__input:not(:-moz-placeholder-shown):focus:valid {
  color: green;
  border-color: green;
}
.buy__input:not(:placeholder-shown):focus:valid {
  color: green;
  border-color: green;
}
.buy__input:not(:-moz-placeholder-shown):focus:invalid {
  color: red;
  border-color: red;
}
.buy__input:not(:placeholder-shown):focus:invalid {
  color: red;
  border-color: red;
}

.buy__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buy__area:focus-within .buy__icon {
  fill: #d41443;
}

.buy__commit {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.buy__commit:focus-within {
  color: #d41443;
}

.buy__textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: grey;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  cursor: pointer;
}
.buy__textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.buy__textarea::placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.buy__textarea:focus {
  outline: transparent;
  border: 1px solid #d41443;
}

.buy__group--label {
  width: 100%;
  margin-bottom: 10px;
}

.buy__select {
  padding: 11px 11px 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  color: #907e82;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/icons/Vector-down-pink.png) 96%/10px no-repeat;
}
.buy__select:focus {
  outline: transparent;
  border: 1px solid #d41443;
}
@media screen and (min-width: 768px) {
  .buy__select {
    background: url(../images/icons/Vector-down-pink.png) 98%/10px no-repeat;
  }
}

.buy__optgroup {
  color: #907e82;
  font-size: 16px;
}

.policy-block {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.policy__icon::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  vertical-align: middle;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .policy__icon::before {
  vertical-align: middle;
  border-color: #d41443;
  background-color: #d41443;
  background-image: url("../images/icons/form-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.policy__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
}

.policy__link {
  color: #d41443;
}

.btn-block {
  text-align: center;
}

.buy-form__btn {
  min-width: 104px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0 37px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.286;
  background: #d41443;
  color: #ecebeb;
  text-align: center;
  cursor: pointer;
}
.buy-form__btn:hover, .buy-form__btn:focus {
  outline: transparent;
  border: 1px solid #d41443;
  background-color: #ecebeb;
  color: #d41443;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buy-form__btn:disabled {
  background-color: #e5e5e5;
  color: #907e82;
  border: 1px solid transparent;
}

.chapter__title--stat, .chapter__title--products, .section__subtitle, .section__title, .hero__title--secondary, .hero__title--primary, .buy__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15;
  text-transform: uppercase;
}

.hero__title--primary {
  color: #ffffff;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__title--primary {
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__title--primary {
    font-size: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title--primary {
    font-size: 38px;
  }
}

.hero__title--secondary {
  color: #d41443;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__title--secondary {
    font-size: 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__title--secondary {
    font-size: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title--secondary {
    font-size: 42px;
  }
}

.section__title {
  color: #d41443;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .section__title {
    font-size: 34px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section__title {
    font-size: 48px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .section__title {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}

.section__subtitle {
  color: #ffa5ba;
  text-align: center;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .section__subtitle {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section__subtitle {
    font-size: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .section__subtitle {
    font-size: 30px;
  }
}

.chapter__title--products {
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.04em;
  line-height: 1.15;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .chapter__title--products {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .chapter__title--products {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .chapter__title--products {
    font-size: 30px;
  }
}

.chapter__title--stat {
  color: #d41443;
  letter-spacing: 0.04em;
  line-height: 1.15;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .chapter__title--stat {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .chapter__title--stat {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .chapter__title--stat {
    font-size: 58px;
  }
}

.back_to_top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9999;
  width: 34px;
  height: 34px;
  background: #fea5bb;
  cursor: pointer;
  display: none;
  border-radius: 50%;
  opacity: 0.5;
}
.back_to_top:hover {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.back_to_top-show {
  display: block;
}

.btn-up {
  transform: rotate(-90deg);
  margin-top: 6px;
  margin-left: 7px;
  width: 20px;
  height: 20px;
}

.products__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  border-style: none;
  padding: 0;
  cursor: pointer;
}
.products__button::after {
  content: "";
  background-image: url(../images/icons/arrow-right-products.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.page-header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 500;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 37px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    padding-left: 46px;
  }
}

@media screen and (min-width: 768px) {
  .menu__wraper {
    display: inline-flex;
    align-items: center;
  }
}

.menu-button {
  z-index: 1100;
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}
.menu-button .icon-close {
  display: none;
}
.menu-button:focus {
  outline: none;
}
.menu-button.is-open {
  position: fixed;
}
.menu-button.is-open .icon-burger {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
  width: 14px;
  height: 14px;
}
@media screen and (max-width: 767px) {
  .menu-button.is-open {
    position: fixed;
    top: 23px;
    right: 28px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu-button.is-open {
    position: fixed;
    right: 34px;
    top: 23px;
  }
}
@media screen and (min-width: 1280px) {
  .menu-button {
    display: none;
  }
}

.menu__container {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1279px) {
  .menu__container {
    z-index: 800;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #e17992;
    width: 250px;
    padding-top: 60px;
    padding-left: 21px;
    flex-direction: column;
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) and (max-width: 1279px) {
  .menu__container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.menu__container.is-open {
  opacity: 1;
  visibility: visible;
}

.menu {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
}
@media screen and (min-width: 1280px) {
  .menu {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    margin: 0 110px;
  }
}

@media screen and (max-width: 1279px) {
  .menu__item {
    display: block;
    border-top: solid 1px #e18298;
    padding-top: 11px;
    padding-bottom: 12px;
  }
  .menu__item:last-child {
    border-bottom: solid 1px #e18298;
  }
}
@media screen and (min-width: 1280px) {
  .menu__item:not(:last-child) {
    margin-right: 35px;
  }
}

.menu__link {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link.current, .menu__link:hover, .menu__link:focus {
  color: #d41443;
}
@media screen and (min-width: 1280px) {
  .menu__link {
    display: inline-block;
  }
}

.btn__buy {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.286;
  color: #d41443;
  background-color: #ffffff;
  border: transparent;
  border-radius: 22px;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.btn__buy:hover, .btn__buy:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu__container.is-open ~ .btn__buy {
    display: none;
  }
}

.menu__buy.btn__buy {
  width: 209px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .menu__buy.btn__buy {
    width: 186px;
  }
}
@media screen and (min-width: 1280px) {
  .menu__buy.btn__buy {
    display: none;
  }
}

.header__buy.btn__buy {
  width: 160px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__buy.btn__buy {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header__buy.btn__buy {
    display: none;
  }
}

.menu-buy__icon {
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .menu-buy__icon {
    margin-left: 14px;
  }
}

.header-buy__icon {
  margin-left: 12px;
}

.hero {
  background-color: #ffb8ca;
}
.hero__container {
  position: relative;
}
@media screen and (max-width: 767px) {
  .hero__container {
    min-width: 320px;
    padding: 83px 20px 0 20px;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__container {
    width: 768px;
    min-height: 400px;
    padding: 32px 34px 0 34px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    width: 1280px;
    min-height: 665px;
    padding: 52px 77px 0 77px;
  }
}
@media screen and (max-width: 767px) {
  .hero__content {
    position: absolute;
    top: 37%;
  }
}
@media screen and (min-width: 768px) {
  .hero__content {
    display: block;
    margin-top: 70px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title-wrap {
    margin-left: 40px;
  }
}
.hero__title {
  font-family: Titan One, sans-serif;
  font-weight: normal;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .hero__title {
    width: 218px;
    min-height: 106px;
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    width: 162px;
    min-height: 80px;
    font-size: 22px;
  }
}
@media screen and (max-width: 1279px) {
  .hero__title {
    margin: 0 0 20px 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 277px;
    min-height: 137px;
    margin: 0 0 25px 0;
    font-size: 38px;
  }
}
.hero__title--coloring {
  color: #d41443;
}
@media screen and (max-width: 767px) {
  .hero__title--coloring {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 768px) {
  .hero__title--coloring {
    line-height: 0.9;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__title--coloring {
    font-size: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title--coloring {
    font-size: 58px;
  }
}
.hero__buttons {
  display: flex;
}
@media screen and (max-width: 1279px) {
  .hero__buttons {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__buttons {
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 1279px) {
  .hero__button {
    max-width: 84px;
    max-height: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__button {
    max-width: 138px;
    max-height: 40px;
  }
}
@media screen and (max-width: 1279px) {
  .hero__button:first-child {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__button:first-child {
    margin-right: 15px;
  }
}
.hero__image {
  border-radius: 50%;
  background-color: #ffa5ba;
}
@media screen and (max-width: 415px) {
  .hero__image {
    margin-right: 16px;
    margin-left: 16px;
  }
}
@media screen and (min-width: 416px) and (max-width: 767px) {
  .hero__image {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .hero__image {
    width: 346px;
    height: 344px;
    padding-top: 9px;
    margin-top: 0;
    margin-bottom: 75px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__image {
    width: 324px;
    height: 322px;
    padding-top: 32px;
    padding-left: 71px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__image {
    width: 538px;
    height: 538px;
    padding-top: 56px;
    padding-left: 119px;
  }
}
@media screen and (max-width: 767px) {
  .hero__icecream {
    width: 171px;
    height: 410px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .hero__icecream {
    width: 143px;
    height: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__icecream {
    width: 236px;
    height: 557px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .card {
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (max-width: 1279px) {
  .card__image {
    width: 124px;
    height: 126px;
  }
}
@media screen and (min-width: 1280px) {
  .card__image {
    width: 188px;
    height: 191px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .card__content {
    margin-left: -2px;
  }
}
.card__text {
  font-weight: normal;
  color: #ffffff;
}
@media screen and (max-width: 1279px) {
  .card__text {
    width: 114px;
    min-height: 48px;
    margin-bottom: 7px;
    font-size: 8px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .card__text {
    width: 200px;
    min-height: 78px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }
}
@media screen and (max-width: 1279px) {
  .card__link {
    width: 18px;
    height: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .card__link {
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 767px) {
  .retail {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .retail {
    display: block;
    margin-top: 60px;
    position: relative;
  }
}
.retail__content {
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .retail__content {
    background-image: url(/src/images/tablet/hero-white-circle.png);
    background-size: 18px;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .retail__content {
    background-image: url(/src/images/tablet/hero-white-circle@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .retail__content {
    margin-right: 20px;
    background-image: url(/src/images/desktop/hero-white-circle.png);
    background-size: 30px;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .retail__content {
    background-image: url(/src/images/desktop/hero-white-circle@2x.png);
  }
}
.retail__content:first-child {
  margin-bottom: 13px;
}
.retail__content:hover, .retail__content:focus {
  transform: scale(1.1);
}
.retail__number {
  display: block;
  font-family: Titan One, sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (max-width: 1279px) {
  .retail__number {
    font-size: 28px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1280px) {
  .retail__number {
    font-size: 46px;
    line-height: 1.15;
  }
}
.retail__type {
  display: block;
  font-family: DM Sans, sans-serif;
  color: #ffffff;
}
@media screen and (max-width: 1279px) {
  .retail__type {
    font-size: 8px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .retail__type {
    font-size: 14px;
    line-height: 1.3;
  }
}
.retail__tastygirl {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .retail__tastygirl {
    width: 168px;
    height: 133px;
  }
}
@media screen and (min-width: 1280px) {
  .retail__tastygirl {
    width: 293px;
    height: 232px;
    margin-right: 40px;
  }
}

.bttn {
  display: block;
  border: 1px solid transparent;
  border-radius: 20px;
  outline: none;
  font-family: DM Sans, sans-serif;
  font-weight: normal;
  line-height: 1.3;
  cursor: pointer;
  transition: color 0.25ms;
}
@media screen and (max-width: 1279px) {
  .bttn {
    padding: 9px 13px;
    font-size: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .bttn {
    padding: 15px 19px;
    font-size: 14px;
  }
}
.bttn__dark {
  background-color: #d41443;
  color: #ffffff;
}
.bttn__dark:hover, .bttn__dark:focus {
  background-color: #c7133e;
  border: 1px solid #ffffff;
}
.bttn__light {
  background-color: #ffffff;
  color: #d41443;
}
.bttn__light:hover, .bttn__light:focus {
  background-color: #ecebeb;
  border: 1px solid #d41443;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .products {
    padding-top: 121px;
    padding-bottom: 98px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1280px) {
  .products {
    padding-top: 127px;
    padding-bottom: 120px;
  }
}

.section__title--products {
  margin-top: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .section__title--products {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section__title--products {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .section__title--products {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .products__list {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products__list {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .products__list {
    display: flex;
  }
}

.products__thumb {
  position: relative;
  margin-bottom: 0;
  text-align: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__thumb:hover {
  transform: translateY(-15px);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .products__thumb {
    display: block;
    height: 598px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
  }
  .products__thumb:not(:last-child) {
    margin-bottom: 17px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products__thumb {
    width: calc((100% - 20px) / 3);
    height: 589px;
  }
  .products__thumb:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .products__thumb {
    width: calc((100% - 30px) / 3);
    height: 735px;
  }
  .products__thumb:not(:last-child) {
    margin-right: 30px;
  }
}

.products__image {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 2;
  display: block;
  max-width: 100%;
  margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .products__image {
    width: 249px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products__image {
    width: 220px;
  }
}
@media screen and (min-width: 1280px) {
  .products__image {
    width: 335px;
  }
}

.products__content {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 24px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .products__content {
    width: 280px;
    padding-top: 165px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products__content {
    width: 100%;
    padding-top: 156px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .products__content {
    width: 100%;
    padding-top: 170px;
    padding-bottom: 50px;
  }
}

.products__content--icecream {
  background-color: #ffb8ca;
}

.products__content--icecoffee {
  background-color: #f0d1a5;
}

.products__content--milkshake {
  background-color: #c2e297;
}

.chapter__title--products {
  position: relative;
}
.chapter__title--products::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;
  display: block;
  text-align: center;
  width: 26px;
  height: 6px;
  background-image: url(../images/icons/products-dots.png);
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .chapter__title--products {
    padding-bottom: 33px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .chapter__title--products {
    padding-bottom: 33px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .chapter__title--products {
    padding-bottom: 36px;
    margin-bottom: 32px;
  }
}

.products__description {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .products__description {
    width: 200px;
    height: 124px;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 152%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products__description {
    width: 198px;
    height: 124px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 176%;
  }
}
@media screen and (min-width: 1280px) {
  .products__description {
    width: 241px;
    height: 106px;
    margin-bottom: 62px;
    font-size: 16px;
    font-weight: 700;
    line-height: 176%;
  }
}

.features {
  padding-top: 125px;
  padding-bottom: 97px;
  background-color: #fff5f6;
}
@media screen and (min-width: 768px) {
  .features {
    padding-top: 130px;
    padding-bottom: 140px;
  }
}
@media screen and (min-width: 1280px) {
  .features {
    padding-top: 125px;
    padding-bottom: 139px;
    background-image: url(../images/desktop/features-2-1200.png);
    background-position: left 50% top 342px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 767px) {
  .features-container.container {
    background-image: url(../images/mobile/features-2-320.png);
    background-position: 0px 766px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .features-container.container {
    background-image: url(../images/mobile/features-2-320@2x.png);
    background-position: 0px 766px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.features__subtitle.section__subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .features__subtitle.section__subtitle {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .features__subtitle.section__subtitle {
    line-height: 1.13;
    margin-bottom: 15px;
  }
}

.features__heading.section__title {
  margin-top: 0;
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .features__heading.section__title {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .features__heading.section__title {
    line-height: 1.14;
    margin-bottom: 55px;
  }
}

.features-discribe {
  margin-bottom: 39px;
}
@media screen and (min-width: 768px) {
  .features-discribe {
    width: 100%;
    display: flex;
  }
}

.features-text-container {
  padding: 0px 30px;
}
@media screen and (min-width: 768px) {
  .features-text-container {
    padding: 50px 0px 0px 0px;
    width: 340px;
    margin-left: 17px;
  }
}
@media screen and (min-width: 1280px) {
  .features-text-container {
    width: 460px;
    margin-left: 74px;
  }
}

.features__primary-text {
  margin-top: 46px;
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .features__primary-text {
    margin-top: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 1280px) {
  .features__primary-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}

.features__secondary-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #907e82;
}
.features__secondary-text.text-top {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .features__secondary-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .features__secondary-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.94;
  }
  .features__secondary-text.text-top {
    margin-bottom: 20px;
  }
}

.features__link.button {
  display: inline-flex;
  height: 44px;
  padding: 0px 37px;
  margin-top: 17px;
  border-radius: 22px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.features__link.button:hover, .features__link.button:focus {
  background-color: #ecebeb;
}
@media screen and (min-width: 768px) {
  .features__link.button {
    margin-top: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .features__link.button {
    margin-top: 45px;
  }
}

.features__button-text {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #d41443;
}
.features__button-text::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 10px;
  margin-left: 13px;
  background-image: url("../images/icons/Vector-pink.png");
}

.features-list {
  margin-top: 39px;
  padding-right: 50px;
}
@media screen and (min-width: 768px) {
  .features-list {
    margin-top: 66px;
    display: flex;
    padding-right: 42px;
  }
}
@media screen and (min-width: 1280px) {
  .features-list {
    margin-top: 39px;
    padding-right: 0;
  }
}

.features-list__item {
  margin-bottom: 38px;
}
.features-list__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .features-list__item {
    width: calc((100% - 120px) / 3);
    margin-bottom: 0px;
    margin-right: 60px;
  }
  .features-list__item:last-child {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .features-list__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .features-list__item:last-child {
    margin-right: 0px;
  }
}

.features-list__title {
  min-width: 98px;
  height: 56px;
  font-family: Titan One, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  margin-top: 16px;
  color: #d41443;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.features-list__title:hover, .features-list__title:focus {
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .features-list__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.15;
    margin-top: 36px;
    margin-bottom: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .features-list__title {
    font-weight: 400;
    font-size: 58px;
    line-height: 1.14;
    margin-top: 40px;
    margin-bottom: 15px;
  }
}

.features-list__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .features-list__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1280px) {
  .features-list__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}

.banner {
  background-image: linear-gradient(#fff5f6 39.767%, #ffffff 31.1165%, #ffffff 31.1165%);
  width: 100%;
  height: 100%;
}

.banner__image {
  margin-right: auto;
  margin-left: auto;
}

.slider-section {
  padding-top: 80px;
  padding-bottom: 86px;
}

.slider {
  background-color: #ffffff;
}

.slider__photo {
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;
}

.slider__description {
  position: relative;
  background-color: #fafafa;
  margin-left: auto;
  margin-right: auto;
  padding: 43px 66px 26px 57px;
  width: 280px;
  height: 308px;
}

.slider__text,
.slider__name {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  color: #000000;
}

.slider__name {
  margin-top: 18px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.86;
}

.slider__wrapper {
  position: relative;
  background-color: transparent;
}

.slider__text {
  position: relative;
  z-index: 1;
  text-decoration-style: solid;
  text-decoration-color: #e1e1e1;
  letter-spacing: 0;
  border-bottom: unset;
}

.slider__stripes {
  position: absolute;
  top: 28.5px;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #e1e1e1, #e1e1e1 1px, #fafafa 1px, #fafafa);
  background-size: 100% 30px;
}

.slider__quotes {
  position: absolute;
  fill: #e1e1e1;
  width: 54px;
  height: 40px;
  top: 28px;
  left: 61px;
}

.slider__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.slider__circle--icon {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background: #c7133e;
}

.slider__circle--icon:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .slider-section {
    padding-top: 121px;
    padding-bottom: 119px;
  }
  .slider__photo {
    margin-bottom: 19px;
  }
  .slider__description {
    margin-left: auto;
    margin-right: auto;
    padding: 47px 80px 34px 80px;
    width: 620px;
    height: 164px;
  }
  .slider__quotes {
    z-index: 1;
    top: 30px;
    left: 40px;
  }
  .slider__text {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    border-bottom: unset;
  }
  .slider__circle {
    margin-top: 24px;
  }
  .slider__name {
    margin-top: 18px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 1.86;
  }
  .slider__item--list {
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .slider-section {
    padding-top: 123px;
    padding-bottom: 132px;
  }
  .slider__description {
    margin-left: auto;
    margin-right: auto;
    padding: 47px 88px 39px 88px;
    width: 926px;
    height: auto;
  }
  .slider__quotes {
    top: 32px;
    left: 50px;
  }
  .slider__text {
    font-size: 16px;
    line-height: 1.86;
    border-bottom: 1px solid #e1e1e1;
  }
  .slider__circle {
    margin-top: 15px;
  }
  .slider__name {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 1.86;
  }
  .slider__photo {
    margin-bottom: 15px;
  }
}
.clear-slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .clear-slider {
    height: 550px;
  }
}
.clear-slider ul {
  width: 100%;
  height: 100%;
}
.clear-slider ul li {
  width: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.clear-slider input[type=radio],
.clear-slider .slider__mark {
  position: absolute;
  bottom: 0px;
  width: 20px;
  height: 20px;
}
.clear-slider input[type=radio] {
  z-index: 99;
  opacity: 0;
}
.clear-slider input[type=radio]:hover {
  cursor: pointer;
  background-color: #fff;
}
.clear-slider .slider__mark {
  display: block;
  background-image: url(../images/icons/vector-ellipse.png);
  width: 13px;
  height: 13px;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 100px;
  overflow: hidden;
  z-index: 98;
}

.slider-point-1,
.slider-point-1 + span {
  left: 47%;
  margin-right: 18px;
}
@media screen and (max-width: 767px) {
  .slider-point-1,
  .slider-point-1 + span {
    left: 35%;
  }
}

.slider-point-2,
.slider-point-2 + span {
  left: 50%;
  margin-right: 18px;
}

.slider-point-3,
.slider-point-3 + span {
  left: 53%;
  margin-right: 18px;
}
@media screen and (max-width: 767px) {
  .slider-point-3,
  .slider-point-3 + span {
    left: 65%;
  }
}

.slider-point-1:checked + span {
  background-image: url(../images/icons/Vector-house.png);
}

.slider-point-1:checked ~ ul > li:first-child {
  visibility: visible;
  opacity: 1;
}

.slider-point-2:checked + span {
  background-image: url(../images/icons/Vector-house.png);
}

.slider-point-2:checked ~ ul > li:nth-child(2) {
  visibility: visible;
  opacity: 1;
}

.slider-point-3:checked + span {
  background-image: url(../images/icons/Vector-house.png);
}

.slider-point-3:checked ~ ul > li:nth-child(3) {
  visibility: visible;
  opacity: 1;
}

.ice-locations {
  background: linear-gradient(#ffffff 90px, #fff5f6 0 100%);
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .ice-locations {
    background: linear-gradient(#ffffff 115px, #fff5f6 0 100%);
  }
}
@media screen and (min-width: 1280px) {
  .ice-locations {
    background: linear-gradient(#ffffff 139px, #fff5f6 0 100%);
  }
}
@media screen and (min-width: 1280px) {
  .ice-locations--background {
    background-image: url(../images/desktop/location-bg.png);
    background-position: 0px center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.location {
  display: flex;
  flex-wrap: wrap;
  font-family: DM Sans, sans-serif;
  letter-spacing: 0.04em;
  margin-bottom: 54px;
}
.location__card {
  width: 280px;
  margin-bottom: 20px;
  padding: 43px 20px;
  font-size: 12px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.location__card:hover {
  transform: translateY(-15px);
}
.location__card:last-child {
  margin-bottom: 0;
}
.location__card__title--cafe, .location__card__title--foodtrack {
  display: inline-block;
  padding: 0 25px;
  margin-bottom: 25px;
  color: #ffffff;
  background-color: #f0d1a5;
  border-radius: 4px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.8;
}
.location__card__title--foodtrack {
  background-color: #c2e297;
}
.location__card__subtitle {
  color: #000000;
  font-size: 12px;
  margin-bottom: 10px;
}
.location__card__text {
  color: #907e82;
  line-height: 1.5;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.location__card__time__item__days {
  color: #000000;
  line-height: 1.8;
}
.location__card__time__item:not(:last-child) {
  margin-bottom: 10px;
}
.location__card__time__item__hours {
  color: #ffa5ba;
  line-height: 1.8;
}
.location__card__time {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.location__contacts__link {
  color: #907e82;
  line-height: 1.5;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .location {
    flex-wrap: nowrap;
    margin-bottom: 81px;
  }
  .location__card {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    margin-bottom: 0;
    padding: 50px 31px;
    font-size: 14px;
  }
  .location__card:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .location__card__title--cafe, .location__card__title--foodtrack {
    margin-bottom: 30px;
  }
  .location__card__subtitle, .location__card__subtitle {
    margin-bottom: 14px;
  }
  .location__card__text {
    line-height: 1.6;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .location__card__time__item:not(:last-child) {
    margin-bottom: 16px;
  }
  .location__card__time {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .location {
    margin-bottom: 86px;
  }
  .location__card {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 0;
    padding: 51px 43px 62px;
    font-size: 16px;
  }
  .location__card:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .location__card__title--cafe, .location__card__title--foodtrack {
    margin-bottom: 32px;
  }
  .location__card__subtitle, .location__card__subtitle {
    margin-bottom: 10px;
  }
  .location__card__card__text {
    line-height: 1.8;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .location__card__time__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .location__card__time {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
  .location__contacts__link {
    color: #907e82;
    line-height: 1.8;
  }
}
@media screen and (min-width: 768px) {
  .btns-list {
    display: flex;
    justify-content: center;
  }
}
.btns-list__item {
  margin-left: auto;
  margin-right: auto;
  width: 162px;
  margin-bottom: 10px;
  border-radius: 22px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.btns-list__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .btns-list__item {
    min-width: 192px;
    margin: 0 15px 0 0;
  }
  .btns-list__item:last-child {
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .btns-list__item {
    min-width: 198px;
  }
}
.btns-list__item--red {
  background-color: #d41342;
}
.btns-list__item--white {
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btns-list__item--white:hover, .btns-list__item--white:focus {
  background-color: #ecebeb;
}
.btns-list__link {
  display: inline-block;
  padding: 12px 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .btns-list__link {
    padding: 12px 30px;
  }
}
@media screen and (min-width: 1280px) {
  .btns-list__link {
    padding: 12px 34px;
  }
}
.btns-list__link--white {
  color: #ffffff;
}
.btns-list__link--white::after {
  display: inline-block;
  content: "";
  width: 7px;
  height: 10px;
  background-image: url(../images/icons/vector-white.png);
  background-repeat: no-repeat;
  margin-left: 13px;
}
.btns-list__link--red {
  color: #d41342;
}
.btns-list__link--red::after {
  display: inline-block;
  content: "";
  width: 7px;
  height: 10px;
  background-image: url(../images/icons/Vector-pink.png);
  background-repeat: no-repeat;
  margin-left: 13px;
}

.footer {
  background-color: #fff5f6;
  padding-top: 113px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 165px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
}

.footer-banner {
  font-family: Titan One, sans-serif;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-banner {
    width: 310px;
  }
}
.footer-banner__paragraph {
  padding-right: 46px;
  margin: 0 0 17px;
  color: #ffa5ba;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-banner__paragraph {
    padding: 0;
    margin-bottom: 16px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-banner__paragraph {
    font-size: 30px;
    padding: 0;
    margin-bottom: 15px;
  }
}
.footer-banner__header {
  margin: 0 0 43px;
  padding-right: 80px;
  font-family: Titan One, sans-serif;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-banner__header {
    padding: 0;
    margin-bottom: 91px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-banner__header {
    font-size: 58px;
    padding: 0;
    margin-bottom: 97px;
  }
}

.footer-socials__list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}
.footer-socials__item:not(:last-child) {
  margin-right: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-socials__item:not(:last-child):not(:last-child) {
    margin-right: 30px;
  }
}
.footer-socials__item:hover .footer-socials__icon {
  fill: #d41443;
}
.footer-socials__icon {
  fill: #fea5bb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer-socials__icon {
    width: 34px;
    height: 34px;
  }
}

.footer-contacts {
  margin-bottom: 43px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts:hover, .footer-contacts:focus {
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    margin: 0;
  }
}
.footer-contacts__address {
  text-align: end;
}
.footer-contacts__text {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.84;
  color: #000000;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-contacts__text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-contacts__text {
    font-size: 16px;
  }
}
.footer-contacts__tel {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  color: #d41443;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-contacts__tel {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-contacts__tel {
    font-size: 16px;
  }
}

.copyright {
  width: 100%;
  border-top: 1px solid #e1e1e1;
}
.copyright__text {
  width: 150px;
  margin: 0 auto;
  padding: 22px 0 25px;
  font-family: DM Sans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .copyright__text {
    width: 100%;
    text-align: center;
    padding: 29px 0 18px;
  }
}